Repository XiaoMi/MiNLP, pull requests merged in 2022-12, with the labels that each got.

#141 [DUCK] 增加Lite模式，只包含数字和时间解析
  .github/workflows/duckling.yml
  .github/workflows/release.yml
  duckling-fork-chinese/build.sbt
  duckling-fork-chinese/core/src/main/resources/reference.conf
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/JsonSerde.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/Resources.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/Types.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/ranking/KryoSerde.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/ranking/NaiveBayesRank.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/task/Training.scala
  duckling-fork-chinese/lite/src/main/resources/reference.conf
  duckling-fork-chinese/lite/src/main/scala/com/xiaomi/duckling/dimension/LiteDimensions.scala
  duckling-fork-chinese/project/Dependencies.scala
  duckling-fork-chinese/project/build.properties
  duckling-fork-chinese/project/plugins.sbt
Labels: DUCKLING, feature

#142 [DUCK] Lite模块的依赖精简重构
  .github/workflows/duckling.yml
  duckling-fork-chinese/.gitignore
  duckling-fork-chinese/build.sbt
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/JsonSerde.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/Resources.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/ranking/NaiveBayesLearning.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/ranking/NaiveBayesRank.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/ranking/Testing.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/task/TimeAnswerSizeDetector.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/task/Training.scala
  duckling-fork-chinese/core/src/test/scala/com/xiaomi/duckling/dimension/GeneralCaseTest.scala
  duckling-fork-chinese/lite/src/test/scala/com/xiaomi/duckling/dimension/LiteDimensionsTest.scala
  duckling-fork-chinese/project/Dependencies.scala
  duckling-fork-chinese/test/src/main/scala/com/xiaomi/duckling/UnitSpec.scala
  duckling-fork-chinese/version.sbt
Labels: enhancement, DUCKLING

#144 [DUCK]支持春夏秋冬四季表达
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/Examples.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/Time.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/rule/SolarTerms.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/ranking/Testing.scala
Labels: DUCKLING

#145 [DUCK]解析零点
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/Examples.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/Rules.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/predicates.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/rule/FuzzyDayIntervals.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/rule/Times.scala
Labels: DUCKLING

#146 [DUCK] Explicit classloader
  duckling-fork-chinese/core/src/main/resources/reference.conf
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/Resources.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/constellation/package.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/place/Types.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/helper/SolarTermProvider.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/ranking/NaiveBayesRank.scala
Labels: DUCKLING, feature

#147 [DUCK] 再次面向安卓适配，重做了kryo序列化，移除了chill
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/Resources.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/ranking/Bayes.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/ranking/KryoSerde.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/ranking/NaiveBayesLearning.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/ranking/NaiveBayesRank.scala
  duckling-fork-chinese/project/Dependencies.scala
Labels: DUCKLING, feature
