Repository XiaoMi/MiNLP, pull requests merged in 2023-09, with the labels that each got.

#201 [DUCK]支持一种简单情况x时y分z秒
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/rule/Times.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/engine/Engine.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/time/Examples.scala
Labels: bug, DUCKLING

#202 [DUCK] 支持“1分30秒”
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/duration/Rules.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/time/duration/Examples.scala
Labels: enhancement, DUCKLING

#203 [DUCK] 去掉"上午下午六点的说法"
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/enums/Hint.java
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/rule/FuzzyDayIntervals.scala
  duckling-fork-chinese/core/src/test/scala/com/xiaomi/duckling/dimension/time/TimeTest.scala
Labels: bug, DUCKLING

#204 [DUCK] 解决浮点数精度问题
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/numeral/fraction/Fraction.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/numeral/fraction/Rules.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/numeral/fraction/package.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/numeral/fraction/Examples.scala
Labels: DUCKLING

#205 FIX取消有歧义的农历表达，解决小数负值表达value错误问题
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/numeral/Rules.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/date/LunarDates.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/numeral/Examples.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/time/date/Examples.scala
Labels: DUCKLING
