Repository XiaoMi/MiNLP, pull requests merged in 2023-01, with the labels that each got.

#149 [DUCK] 修复今天八点没有按照12小时制出结果的问题
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/Rules.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/package.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/time/Examples.scala
Labels: DUCKLING, feature

#150 [DUCK]支持11:15~12:10的表达
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/Rules.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/time/Examples.scala
Labels: DUCKLING, feature

#151 [DUCK] 子选项参数使用无参Java Bean重做，提升兼容性
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/Types.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/numeral/Numeral.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/Time.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/ranking/Testing.scala
  duckling-fork-chinese/core/src/test/scala/com/xiaomi/duckling/dimension/numeral/NumeralTest.scala
  duckling-fork-chinese/core/src/test/scala/com/xiaomi/duckling/dimension/package.scala
  duckling-fork-chinese/core/src/test/scala/com/xiaomi/duckling/dimension/time/TimeDataTest.scala
  duckling-fork-chinese/core/src/test/scala/com/xiaomi/duckling/dimension/time/TimeTest.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/ranking/AnswersSelection.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/task/AnswerSizeDetector.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/task/NaiveBayesConsole.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/task/NaiveBayesDebug.scala
  duckling-fork-chinese/server/src/main/scala/com/xiaomi/duckling/server/DucklingController.java
Labels: DUCKLING, feature

#154 [DUCK]去掉了一些不太合适的别名
  duckling-fork-chinese/core/src/main/resources/places4.json
  duckling-fork-chinese/core/src/test/scala/com/xiaomi/duckling/dimension/place/PlaceTest.scala
Labels: bug, DUCKLING

#155 支持：三月五号的九天后
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/Rules.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/rule/FuzzyDayIntervals.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/time/Examples.scala
Labels: DUCKLING

#157 [DUCK] 增加发布脚本
  duckling-fork-chinese/README.md
  duckling-fork-chinese/bin/release.sh
Labels: documentation, DUCKLING

#158 [DUCK] 增加工作日的支持
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/Types.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/repeat/Repeat.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/repeat/Rules.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/repeat/WorkdayType.java
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/repeat/package.scala
  duckling-fork-chinese/core/src/test/scala/com/xiaomi/duckling/dimension/time/TypesTest.scala
  duckling-fork-chinese/core/src/test/scala/com/xiaomi/duckling/dimension/time/repeat/RepeatValueTest.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/time/repeat/Examples.scala
Labels: DUCKLING, feature

#159 [DUCK] Add nodes limit for performance concern
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/Document.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/Types.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/Prods.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/engine/Engine.scala
  duckling-fork-chinese/core/src/test/scala/com/xiaomi/duckling/dimension/time/ProdsTest.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/task/NaiveBayesDebug.scala
Labels: DUCKLING, feature
