Repository XiaoMi/MiNLP, pull requests merged in 2023-06, with the labels that each got.

#185 [DUCK] temperature支持25度半
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/temperature/Rules.scala
  duckling-fork-chinese/core/src/test/scala/com/xiaomi/duckling/dimension/temperature/TemperatureTest.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/temperature/Examples.scala
Labels: enhancement, DUCKLING

#188 [DUCK] 强化修复 #185
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/Rules.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/duration/Rules.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/rule/FuzzyDayIntervals.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/rule/Times.scala
  duckling-fork-chinese/core/src/test/scala/com/xiaomi/duckling/dimension/time/TimeTest.scala
Labels: bug, DUCKLING

#189 [DUCK] 修复不合理的duration组合
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/duration/Rules.scala
  duckling-fork-chinese/core/src/test/scala/com/xiaomi/duckling/dimension/time/grain/TimeGrainTest.scala
Labels: bug, DUCKLING

#191 [DUCK]新增act dim
  duckling-fork-chinese/core/src/main/resources/reference.conf
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/EnumeratedDimension.java
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/FullDimensions.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/act/Act.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/act/Rules.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/act/package.scala
  duckling-fork-chinese/core/src/test/scala/com/xiaomi/duckling/dimension/act/ActTest.scala
  duckling-fork-chinese/doc/支持的Dimension.md
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/act/Examples.scala
  duckling-fork-chinese/server/src/main/resources/static/js/duckling-extract.js
Labels: DUCKLING

#192 [DUCK] 支持"未来的一周"
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/Rules.scala
Labels: DUCKLING

#193 [DUCK] 修复14:30的is12H错误的问题
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/rule/Times.scala
Labels: bug, DUCKLING

#194 [DUCK] 补充丢失的"午夜"
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/rule/FuzzyDayIntervals.scala
Labels: bug, DUCKLING

#196 [DUCK] 修复"接下来一周"错误 x2
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/Rules.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/time/Examples.scala
Labels: bug, DUCKLING
