Repository XiaoMi/MiNLP, pull requests merged in 2024-01, with the labels that each got.

#209 [DUCK] 修复“一九五六年的昨天”抽取错误
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/date/Rules.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/predicates.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/time/Examples.scala
Labels: bug, DUCKLING

#210 feat: 扩充距离表达方式
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/quantity/Quantity.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/quantity/distance/Rules.scala
  duckling-fork-chinese/core/src/test/scala/com/xiaomi/duckling/ApiTest.scala
  duckling-fork-chinese/core/src/test/scala/com/xiaomi/duckling/dimension/quantity/QuantityTest.scala
  duckling-fork-chinese/core/src/test/scala/com/xiaomi/duckling/dimension/temperature/TemperatureTest.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/quantity/distance/Examples.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/time/Examples.scala
Labels: DUCKLING, feature

#211 imp: 最近一周输出范围由本周改为最近7天
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/Rules.scala
  duckling-fork-chinese/core/src/test/scala/com/xiaomi/duckling/ApiTest.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/time/Examples.scala
Labels: DUCKLING
