Repository XiaoMi/MiNLP, pull requests merged in 2024-07, with the labels that each got.

#225 [DUCK] 增加 次日/第二天 = 明天
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/date/Rules.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/time/Examples.scala
Labels: enhancement, DUCKLING, Time

#228 [DUCK] 修复当前时间段满足条件的不在过去中的问题
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/package.scala
  duckling-fork-chinese/core/src/test/scala/com/xiaomi/duckling/dimension/time/TimeDataTest.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/task/NaiveBayesConsole.scala
Labels: DUCKLING, Time

#229 [DUCK]feat:支持time+ordinal+grain
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/ordinal/Rules.scala
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/Rules.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/ordinal/Examples.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/time/Examples.scala
Labels: DUCKLING
