Repository XiaoMi/MiNLP, pull requests merged in 2024-02, with the labels that each got.

#212 fix: 最近，根据timeoption自定义是未来时间还是过去时间
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/date/Rules.scala
Labels: DUCKLING

#213 [DUCK] 将“晚上5点”映射到“下午5点”
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/rule/FuzzyDayIntervals.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/time/Examples.scala
Labels: enhancement, DUCKLING

#214 [DUCK] 节日同名优先
  duckling-fork-chinese/core/src/main/scala/com/xiaomi/duckling/dimension/time/helper/HolidayProvider.scala
  duckling-fork-chinese/learning/src/main/scala/com/xiaomi/duckling/dimension/time/Examples.scala
Labels: bug, DUCKLING
